@import url("https://fonts.googleapis.com/css2?family=Molengo&display=swap");

body {
    background-color: ghostwhite;
    margin: 0;
    box-sizing: border-box;
    background-color: #fef7dc;
}

header {
    position: relative;
}

.reportContainer {
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    min-height: calc(100% - 100px);
    flex-wrap: wrap;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.leftSide {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
}
.map {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.insideForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #e6ddc6a2;
    border-radius: 5px;
    border: 1px solid #dadadab9;
    padding: 10px;
}

.mapWrapper {
    height: 300px;
}

.rightSide {
    display: flex;
    flex: 1;
    width: 700px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 50%;
}

button {
    text-transform: uppercase;
    width: fit-content;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    letter-spacing: 1px;
    border: none;
    font-size: 20px;
    background-color: #c2b8a3;
    color: white;
    cursor: pointer;
}

button:active {
    background-color: white;
}

button:hover {
    background-color: #42413cfa;
}

button:disabled,
button[disabled] {
    background-color: #cccccc;
    color: #a1a1a19b;
}

.regForm h1,
h2 {
    margin: 0;
    display: block;
}

.caseDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.caseDetailsAlone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    gap: 30px;
    justify-content: center;
}

.smallMap {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.smallMapAloneCont {
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.smallMapAlone {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
}

.caseCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #e6ddc6a2;
    border-radius: 5px;
    border: 1px solid #dadadab9;
    padding: 10px;
}

.fiveQuestions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    word-break: break-all;
}

.fiveQuestionsAlone {
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 5px;
    width: 300px;
    word-break: break-all;
}

.wrapper {
    width: calc(100vw - 20px);
    height: calc(100vh - 55px);
    overflow: scroll;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#makePublic {
    width: 50px;
}

.makeBold {
    font-weight: bold;
}

.sendDrafts {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

textarea {
    width: 600px;
    max-width: 90%;
    height: 150px;
    resize: none;
    border: 1px lightgray solid;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.textAreaCont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.sendDraftsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.autoCompleteWrapper {
    width: 400px;
    height: fit-content;
}

.feedCardsContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100vw;
}

.feedCard {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    word-break: break-all;
    text-align: center;
    gap: 5px;

    padding: 50px;

    background-color: #e6ddc6a2;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #dadadab9;
}

.feedCardWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: inherit;
    min-height: 200px;
}

.feedContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.insideFeedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* .buttonStyle {
    width: fit-content;
} */

.h2Padding {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.codeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pageCode input {
    width: 300px;
}

.pageCode {
    display: flex;
    justify-content: center;
    align-items: center;
}

header a,
header a:hover,
header a:focus,
header a:active {
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100px;
    background-color: #a19882;
}

header a {
    height: fit-content;
}

header h1 {
    font-size: 45px;
    color: #fef7dc;
    width: 100%;
    vertical-align: center;
}

.belowHeaderCont a,
.belowHeaderCont a:hover,
.belowHeaderCont a:focus,
.belowHeaderCont a:active {
    text-decoration: underline;
    color: #42413cfa;
    text-transform: uppercase;
}

.belowHeaderCont a:hover {
    color: #000000fa;
}

.belowHeaderCont h2 {
    text-transform: uppercase;
}

.belowHeaderCont {
    font-family: Arial, Helvetica, sans-serif;
}

.headerRight a {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Molengo", sans-serif;
    background-color: #e6ddc6a2;
    padding: 20px;
}

.headerRight a:hover {
    background-color: #42413cfa;
}

.logo {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;
    font-family: "Molengo", sans-serif;
}

.headerRight {
    display: flex;
    flex-shrink: 0;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    gap: 20px;
}

.mainCon {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainConBack {
    background-color: #e6ddc6a2;
    padding: 50px;
    border-radius: 5px;
    border: 1px solid #dadadab9;
    font-family: Arial, Helvetica, sans-serif;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
}

.regForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.formRegContainter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
    text-align: center;
}

.searchFieldWrapper {
    width: 500px;
}

.red {
    color: red;
}

.makeSpace {
    height: 10px;
}

.MuiPaper-root {
    font-family: Arial, Helvetica, sans-serif;
}

.searchInput {
    background-color: white;
    width: 300px;
}

@media screen and (max-width: 1090px) {
    header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: fit-content;
        align-content: center;
        background-color: #a19882;

        padding-bottom: 20px;
    }

    .logo {
        padding: 0;
    }

    .logo a {
        width: 100%;
    }

    .headerRight {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        padding: 0;
    }

    .logo h1 {
        text-align: center;
    }
    .wrapper {
        height: fit-content;
    }
}
