body {
    background-color: ghostwhite;
    margin: 0;
    box-sizing: border-box;
}

.reportContainer {
    background-color: peachpuff;
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    gap: 10px;
}

.leftSide {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-items: center;
}
.map {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.insideForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mapWrapper {
    height: 300px;
}

.rightSide {
    display: flex;
    flex: 1;
    min-width: 700px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 50%;
}

button {
    width: fit-content;
}

.caseDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.caseDetailsAlone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 20px);
    padding-left: 10px;
    padding-right: 10px;
    gap: 30px;
    justify-content: center;
}

.smallMap {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.smallMapAlone {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
}

.caseCard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fiveQuestions {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fiveQuestionsAlone {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 5px;
}

.wrapper {
    width: calc(100vw - 20px);
    height: 100vh;
    overflow: scroll;
}
#makePublic {
    width: 50px;
}

.makeBold {
    font-weight: bold;
}

.sendDrafts {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: peachpuff;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

textarea {
    width: 600px;
    max-width: 90%;
    height: 150px;
    resize: none;
    border: 1px lightgray solid;
    border-radius: 5px;
}

.textAreaCont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.sendDraftsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.autoCompleteWrapper {
    width: 400px;
    height: fit-content;
}

.feedCardsContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.feedCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    text-align: center;
    gap: 5px;
    border: 1px solid lightgray;
    padding: 10px;
}

.feedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: peachpuff;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.insideFeedContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* .buttonStyle {
    width: fit-content;
} */

.h2Padding {
    padding-left: 10px;
}

.codeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pageCode input {
    width: 300px;
}

.pageCode {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
}

.log {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}
