body {
    background-color: ghostwhite;
    margin: 0;
    box-sizing: border-box;
}

.reportContainer {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 50%;
}

button {
    width: 25%;
}
